<div class="text-center mt-3">
	<div>
		<h1 class="text-danger">
			Access Denied
		</h1>
		<div>
			<h6 class="text-danger">
				You do not have persmission to view this resource
			</h6>
		</div>
		<div class="mt-4">
			<img src="~/images/noaccess.png" style="height:400px; width:400px" />
		</div>
	</div>
	<div class="text-center mt-4">
		<form class="text-danger" asp-controller="home" asp-action="index" method="get">
			<button type="submit" style="width:auto" class="btn btn-primary">Back to home</button>
		</form>
	</div>
</div>



