@model EmpCreateViewModel
@inject IEmployeeRepository empRepository
@{ 
	ViewBag.Title = "Create Employee";
}

@{ 
	if (!(ViewBag.Error is null))
	{
		<h3 class="alert alert-danger" >
			@ViewBag.Error
		</h3>
	}
}
<div class="m-4">
	<form  enctype="multipart/form-data" class="form-control g-3 align-items-center" asp-controller="home" asp-action="create" method="post">
		<div class="row mb-3">
			<label asp-for="Name" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Name" class="form-control" placeholder="Name">
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="Email" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Email" class="form-control" placeholder="Email">
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="Department" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<select asp-for="Department" class="form-select"
								asp-items="Html.GetEnumSelectList<Dept>()">
					<option value="">Please Select</option>
				</select>
				<span asp-validation-for="Department" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="Photos" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<div class="mb-3">
					<input asp-for="Photos" multiple class="form-control custom-file-input" type="file">
					<label class="form-label custom-file-label"></label>
				</div>

				@*<span asp-validation-for="Photo" class="text-danger"></span>*@
			</div>
		</div>
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="row">
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary">Create</button>
			</div>
		</div>
		<div>
			Total =@empRepository.GetAllEmployees().Count().ToString()
		</div>
		@section Scripts {
			<script>
            //$(document).ready(function () {
            //    $('.custom-file-input').on("change", function () {
            //        var fileName = $(this).val().split("\\").pop();
            //        $(this).next('.custom-file-label').html(fileName);
            //    });
				//});
				$(document).ready(function () {
					$('.custom-file-input').on("change", function () {
						var fileLabel = $(this).next('.custom-file-label');
						var files = $(this)[0].files;
						if (files.length > 1) {
							fileLabel.html(files.length + ' files selected');
						}
						else if (files.length == 1) {
							fileLabel.html(files[0].name);
						}
					});
				});
			</script>
		}
	</form>
</div>
