@model int
@{ 
	ViewBag.Title = "404 Error";
}

<div class="page-wrap d-flex flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<span class="display-1 d-block">404</span>
				<div class="mb-4 lead">Employee With <span class="text-danger fw-bold">ID</span>=@Model Cannot be Found.</div>
				<a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width:auto;color:blue">Back to Home</a>
			</div>
		</div>
	</div>
</div>
